*{
    margin:0;
    padding:0;
}
h1{
    text-align: center;
}
body{
    background-color: bisque;
}
.galery{
    width: 80%;
    margin: 90px  50px 90px 50px;
    display:grid;
grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
grid-gap: 40px;
    
}
.galery img:hover{
    transform: scale(0.7) rotate(-27deg);
    border-style:groove;
    border-radius: 15px;
    border-color:black;
    border-width: 10px;
    
}
